/.vs/ProjectEvaluation/shikigamiapp.metadata.v10.bin
/.vs/ProjectEvaluation/shikigamiapp.projects.v10.bin
/.vs/ProjectEvaluation/shikigamiapp.strings.v10.bin
/Gateway/x64/Debug/Gateway.vcxproj.AssemblyReference.cache
/Gateway/x64/Release/Gateway.vcxproj.AssemblyReference.cache
/Gui/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/Gui/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Gui/obj/Debug/Gui.csproj.AssemblyReference.cache
/Gui/obj/Release/Gui.csproj.AssemblyReference.cache
/Gui/obj/x64/Debug/DesignTimeResolveAssemblyReferences.cache
/Gui/obj/x64/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Gui/obj/x64/Debug/Gui.csproj.AssemblyReference.cache
/Gui/obj/x64/Debug/Gui.csproj.CoreCompileInputs.cache
/Gui/obj/x64/Debug/Gui.csproj.GenerateResource.cache
/Gui/obj/x64/Release/DesignTimeResolveAssemblyReferencesInput.cache
/Gui/obj/x64/Release/Gui.csproj.AssemblyReference.cache
/Gui/bin/x64/Debug/Gui.exe.config
/Gui/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
/Gui/obj/Release/.NETFramework,Version=v4.8.AssemblyAttributes.cs
/Gui/obj/x64/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
/Gui/obj/x64/Release/.NETFramework,Version=v4.8.AssemblyAttributes.cs
/.vs/ShikigamiApp.slnx/v18/Insiders/Browse.VC.db
/.vs/ShikigamiApp.slnx/v18/Insiders/Solution.VC.db
/Gui/bin/x64/Debug/Gateway.dll
/Gui/bin/x64/Debug/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.13.0.4/lib/net6.0/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.13.0.4/lib/net20/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.13.0.4/lib/net35/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.13.0.4/lib/net40/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.13.0.4/lib/net45/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.13.0.4/lib/netstandard1.0/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.13.0.4/lib/netstandard1.3/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.13.0.4/lib/netstandard2.0/Newtonsoft.Json.dll
/x64/Debug/Gateway.dll
/x64/Release/Gateway.dll
/Gui/bin/x64/Debug/Gui.exe
/Gui/obj/x64/Debug/Gui.exe
/x64/Debug/Core.idb
/Gateway/x64/Release/Gateway.iobj
/.vs/ShikigamiApp.slnx/v18/Insiders/ipch/5553d25c61093f87.ipch
/.vs/ShikigamiApp.slnx/v18/Insiders/ipch/bee20f72f7d4c216.ipch
/Gateway/x64/Release/Gateway.ipdb
/.vs/ShikigamiApp.slnx/v18/DocumentLayout.backup.json
/.vs/ShikigamiApp.slnx/v18/DocumentLayout.json
/.vs/ShikigamiApp.slnx/v18/ResourceExplorer/settings.json
/Gui/.vs/Gui.csproj.dtbcache.json
/Core/x64/Debug/Core.tlog/Core.lastbuildstate
/Core/x64/Release/Core.tlog/Core.lastbuildstate
/Gateway/x64/Debug/Gateway.tlog/Gateway.lastbuildstate
/Gateway/x64/Release/Gateway.tlog/Gateway.lastbuildstate
/x64/Debug/Core.lib
/x64/Release/Core.lib
/Core/x64/Debug/Core.Build.CppClean.log
/Core/x64/Debug/Core.log
/Core/x64/Release/Core.Build.CppClean.log
/Core/x64/Release/Core.log
/Gateway/x64/Debug/Gateway.Build.CppClean.log
/Gateway/x64/Debug/Gateway.log
/Gateway/x64/Debug/vcpkg.applocal.log
/Gateway/x64/Release/Gateway.Build.CppClean.log
/Gateway/x64/Release/Gateway.log
/Gateway/x64/Release/vcpkg.applocal.log
/packages/Newtonsoft.Json.13.0.4/LICENSE.md
/packages/Newtonsoft.Json.13.0.4/README.md
/x64/Debug/Gateway.dll.metagen
/x64/Release/Gateway.dll.metagen
/packages/Newtonsoft.Json.13.0.4/Newtonsoft.Json.13.0.4.nupkg
/Core/x64/Debug/CalculationService.obj
/Core/x64/Debug/FileAccess.obj
/Core/x64/Debug/MitamaCalculator.obj
/Core/x64/Debug/pch.obj
/Core/x64/Debug/ShikigamiRepository.obj
/Core/x64/Debug/StatusCalculator.obj
/Core/x64/Release/pch.obj
/Core/x64/Release/ShikigamiData.obj
/Gateway/x64/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.obj
/Gateway/x64/Debug/CalculationGateway.obj
/Gateway/x64/Debug/CalculationResultConverter.obj
/Gateway/x64/Debug/MitamaConverter.obj
/Gateway/x64/Debug/MitamaSetConverter.obj
/Gateway/x64/Debug/pch.obj
/Gateway/x64/Debug/ShikigamiConverter.obj
/Gateway/x64/Debug/ShikigamiGateway.obj
/Gateway/x64/Debug/StatTypeConverter.obj
/Gateway/x64/Debug/StatusConverter.obj
/Gateway/x64/Debug/StatValueConverter.obj
/Gateway/x64/Debug/StringConverter.obj
/Gateway/x64/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.obj
/Gateway/x64/Release/dllmain.obj
/Gateway/x64/Release/pch.obj
/Gateway/x64/Release/ShikigamiGateway.obj
/packages/Newtonsoft.Json.13.0.4/.signature.p7s
/Core/x64/Debug/Core.pch
/Core/x64/Release/Core.pch
/Gateway/x64/Debug/Gateway.pch
/Gateway/x64/Release/Gateway.pch
/Gateway/x64/Debug/vc145.pdb
/Gateway/x64/Release/vc145.pdb
/Gui/bin/x64/Debug/Gateway.pdb
/Gui/bin/x64/Debug/Gui.pdb
/Gui/obj/x64/Debug/Gui.pdb
/x64/Debug/Core.pdb
/x64/Debug/Gateway.pdb
/x64/Release/Core.pdb
/x64/Release/Gateway.pdb
/packages/Newtonsoft.Json.13.0.4/packageIcon.png
/Core/x64/Debug/Core.lib.recipe
/Core/x64/Release/Core.lib.recipe
/Gateway/x64/Debug/Gateway.dll.recipe
/Gateway/x64/Release/Gateway.dll.recipe
/Gui/obj/x64/Debug/Gui.Properties.Resources.resources
/Gui/obj/x64/Debug/ShikigamiApp.MainForm.resources
/Gui/obj/x64/Debug/ShikigamiApp.ShikigamiResisterForm.resources
/Gui/Properties/Settings.settings
/.vs/ShikigamiApp.slnx/v18/.suo
/Core/x64/Debug/Core.tlog/CL.command.1.tlog
/Core/x64/Debug/Core.tlog/Cl.items.tlog
/Core/x64/Debug/Core.tlog/CL.read.1.tlog
/Core/x64/Debug/Core.tlog/CL.write.1.tlog
/Core/x64/Debug/Core.tlog/Lib.command.1.tlog
/Core/x64/Debug/Core.tlog/Lib-link.read.1.tlog
/Core/x64/Debug/Core.tlog/Lib-link.write.1.tlog
/Core/x64/Release/Core.tlog/CL.command.1.tlog
/Core/x64/Release/Core.tlog/Cl.items.tlog
/Core/x64/Release/Core.tlog/CL.read.1.tlog
/Core/x64/Release/Core.tlog/CL.write.1.tlog
/Core/x64/Release/Core.tlog/Lib.command.1.tlog
/Core/x64/Release/Core.tlog/Lib-link.read.1.tlog
/Core/x64/Release/Core.tlog/Lib-link.write.1.tlog
/Gateway/x64/Debug/Gateway.tlog/CL.command.1.tlog
/Gateway/x64/Debug/Gateway.tlog/Cl.items.tlog
/Gateway/x64/Debug/Gateway.tlog/CL.read.1.tlog
/Gateway/x64/Debug/Gateway.tlog/CL.write.1.tlog
/Gateway/x64/Debug/Gateway.tlog/link.command.1.tlog
/Gateway/x64/Debug/Gateway.tlog/link.read.1.tlog
/Gateway/x64/Debug/Gateway.tlog/link.secondary.1.tlog
/Gateway/x64/Debug/Gateway.tlog/link.write.1.tlog
/Gateway/x64/Debug/Gateway.tlog/metagen.read.1.tlog
/Gateway/x64/Debug/Gateway.tlog/metagen.write.1.tlog
/Gateway/x64/Release/Gateway.tlog/CL.command.1.tlog
/Gateway/x64/Release/Gateway.tlog/Cl.items.tlog
/Gateway/x64/Release/Gateway.tlog/CL.read.1.tlog
/Gateway/x64/Release/Gateway.tlog/CL.write.1.tlog
/Gateway/x64/Release/Gateway.tlog/link.command.1.tlog
/Gateway/x64/Release/Gateway.tlog/link.read.1.tlog
/Gateway/x64/Release/Gateway.tlog/link.secondary.1.tlog
/Gateway/x64/Release/Gateway.tlog/link.write.1.tlog
/Gateway/x64/Release/Gateway.tlog/metagen.read.1.tlog
/Gateway/x64/Release/Gateway.tlog/metagen.write.1.tlog
/Core/x64/Debug/Core.vcxproj.FileListAbsolute.txt
/Core/x64/Release/Core.vcxproj.FileListAbsolute.txt
/Gateway/x64/Debug/Gateway.vcxproj.FileListAbsolute.txt
/Gateway/x64/Release/Gateway.vcxproj.FileListAbsolute.txt
/Gui/obj/Debug/Gui.csproj.FileListAbsolute.txt
/Gui/obj/x64/Debug/Gui.csproj.FileListAbsolute.txt
/Gui/obj/x64/Debug/Gui.csproj.Up2Date
/Core/Core.vcxproj.user
/Gateway/Gateway.vcxproj.user
/.vs/ShikigamiApp.slnx/DesignTimeBuild/.dtbcache.v2
/.vs/ShikigamiApp.slnx/v18/.futdcache.v2
/.vs/ShikigamiApp.slnx/FileContentIndex/483b1de4-8fa3-428c-8d0b-6d7370832218.vsidx
/.vs/ShikigamiApp.slnx/FileContentIndex/962f24f5-10ed-464a-a6f1-5c57ee58e650.vsidx
/.vs/ShikigamiApp.slnx/FileContentIndex/08603697-6de9-4424-9e3c-178ff4198edb.vsidx
/.vs/ShikigamiApp.slnx/FileContentIndex/c04db140-dfc2-4a99-9d5e-8b2dc52a1fdc.vsidx
/.vs/ShikigamiApp.slnx/FileContentIndex/cbf9cc25-306b-4455-9160-22ace4a83d0d.vsidx
/Gui/bin/x64/Debug/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.13.0.4/lib/net6.0/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.13.0.4/lib/net20/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.13.0.4/lib/net35/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.13.0.4/lib/net40/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.13.0.4/lib/net45/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.13.0.4/lib/netstandard1.0/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.13.0.4/lib/netstandard1.3/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.13.0.4/lib/netstandard2.0/Newtonsoft.Json.xml
/.vs/ShikigamiApp.slnx/FileContentIndex/11ee6c6d-8a08-4e9a-adc4-41c9f1b15342.vsidx
/.vs/ShikigamiApp.slnx/FileContentIndex/287a0557-230d-4b01-a58a-fdd63047d51f.vsidx
/.vs/ShikigamiApp.slnx/FileContentIndex/891c767c-d3fb-4087-b7fe-8d1207a7945f.vsidx
/.vs/ShikigamiApp.slnx/FileContentIndex/9e97c9a4-0427-4484-a0c8-085e5cace169.vsidx
/.vs/ShikigamiApp.slnx/FileContentIndex/c7eb8b6a-8c46-4b86-be2a-67c40a6ccfb7.vsidx
/.vs/ShikigamiApp.slnx/FileContentIndex/*.vsidx
/.vs/ShikigamiApp.slnx/v18/Insiders/ipch/*.ipch
/Gui/obj/x64/Debug/ShikigamiApp.ResultViewForm.resources
/.vs/ShikigamiApp.slnx/v18/Insiders/*.db-shm
/.vs/ShikigamiApp.slnx/v18/Insiders/*.db-wal
/.vs/ShikigamiApp.slnx/v18/Insiders/*.opendb
/Core/x64/Debug/*.obj
/Gateway/x64/Debug/*.obj
/.vs/ShikigamiApp.slnx/v18/Insiders/ipch/AutoPCH/c4dc53ab1c2ff7a5/*.ipch
/Gui/obj/x64/Debug/*.resources
/.vs/ShikigamiApp/FileContentIndex/1e206498-b84e-4423-97d6-407732736f79.vsidx
/.vs/ShikigamiApp/FileContentIndex/8232427a-55c1-4121-945a-64e1a4b5ec41.vsidx
/.vs/ShikigamiApp/FileContentIndex/9b61a2da-1f6c-40a9-8c0c-5b1bb0a0786b.vsidx
/.vs/ShikigamiApp/v18/.suo
/.vs/ShikigamiApp/v18/DocumentLayout.backup.json
/.vs/ShikigamiApp/v18/DocumentLayout.json
/.vs/ShikigamiApp/v18/Insiders/Browse.VC.db
/.vs/ShikigamiApp.slnx/v18/Insiders/ipch/SymbolIndex/*.ipch
/CoreTest/TestLog
/CoreTest/x64
/.vs/Core_Test.slnx/FileContentIndex/*.vsidx
/.vs/Core_Test.slnx/v18/*.suo
/.vs/Core_Test.slnx/v18/*.json
/.vs/Core_Test.slnx/v18/Insiders/*.db
/.vs/Core_Test.slnx/v18/Insiders/ipch/*.ipch
/.vs/Core_Test/FileContentIndex/*.vsidx
/.vs/Core_Test/v18/*.suo
/.vs/Core_Test/v18/*.json
/.vs/Core_Test/v18/Insiders/*.db
/.vs/Core_Test/v18/Insiders/ipch/SymbolIndex/*.ipch
/.vs/Core_Test/v18/Insiders/ipch/*.ipch
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.8/*.p7s
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.8/*.nupkg
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.8/*.txt
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.8/build/native/1028/*.xml
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.8/build/native/1029/*.xml
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.8/build/native/1031/*.xml
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.8/build/native/1033/*.xml
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.8/build/native/1034/*.xml
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.8/build/native/1036/*.xml
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.8/build/native/1040/*.xml
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.8/build/native/1041/*.xml
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.8/build/native/1042/*.xml
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.8/build/native/1045/*.xml
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.8/build/native/1046/*.xml
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.8/build/native/1049/*.xml
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.8/build/native/1055/*.xml
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.8/build/native/2052/*.xml
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.8/build/native/*.targets
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.8/build/native/include/gtest/*.h
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.8/build/native/include/gtest/*.pump
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.8/build/native/include/gtest/internal/custom/*.md
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.8/build/native/include/gtest/internal/custom/*.h
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.8/build/native/include/gtest/internal/*.h
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.8/build/native/include/gtest/internal/*.pump
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.8/lib/native/v140/windesktop/msvcstl/static/rt-dyn/arm64/Debug/*.pdb
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.8/lib/native/v140/windesktop/msvcstl/static/rt-dyn/arm64/Debug/*.lib
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.8/lib/native/v140/windesktop/msvcstl/static/rt-dyn/arm64/Release/*.lib
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.8/lib/native/v140/windesktop/msvcstl/static/rt-dyn/arm64/Release/*.pdb
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.8/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x64/Debug/*.pdb
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.8/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x64/Debug/*.lib
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.8/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x64/Release/*.lib
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.8/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x64/Release/*.pdb
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.8/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x86/Debug/*.pdb
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.8/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x86/Debug/*.lib
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.8/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x86/Release/*.lib
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.8/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x86/Release/*.pdb
/CoreTest/*.user
/.vs/Core_Test.slnx/v18/Insiders/*.db-shm
/.vs/Core_Test.slnx/v18/Insiders/*.db-wal
/.vs/Core_Test.slnx/v18/Insiders/*.opendb
/.vs/Core_Test.slnx/v18/Insiders/ipch/SymbolIndex/*.ipch
/x64/Debug/*.exe
/x64/Debug/*.ilk
/x64/Debug/*.pdb
/.vs/ShikigamiApp/FileContentIndex/*.vsidx
/.vs/ShikigamiApp/v18/Insiders/*.db
